.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;

}


.logoStyling{
    height: 30px;
}
